<%# Print post matching the parameters %>
<html>
    <head> 
        <% include ./part/header %>
    </head>
    <body>
    <h3><%= no %>.</h3>
        <h3>Title : <%= title %></h3>
        <p>Hit : <%= hit %> ID : <%= id %></p>
        <p>Date : <%= date %></p>
        <p><%= content %></p>
        <a href='/'>MAIN</a> <a href='/delete/<%= no %>'>DELETE</a>
    </body>
</html>